

.titulo{
	
	color:white;
	font-size: large;
	background-color: black;
	text-align: center;
	width: 80%;
	height: 50px;
	border: 2px solid red;
	
}

.lista{
	
	width: 80%;
	height: 50px;
	background-color: white;
	border: 2px solid red;
	margin-top:5px;
}



.cajafondo{
	
	width: 700px;
	height: 400px;
	background-color: blue;
	border: 2px solid red;
	margin-top:5px;
}

.descripcion{
	
	color:white;
	width: 680px;
	height: 170px;
	background-color: orange;
	border: 2px solid red;
	margin:5px;
	
	
}
.tabla{
	
	color:white;
	width: 680px;
	height: 170px;
	background-color: orange;
	border: 2px solid red;
	margin:5px;
	margin-top:5px;
	align-content: center;
	
	
}

.horario{
	
	width: 400px;
	height: 260px;
	background-color: yellow;
	border: 2px solid red;
	margin-top:5px;
	
}

.pie{
	
	color:white;
	background-color: gray;
	text-align: left;
	width: 80%;
	height: 50px;
	border: 2px solid red;
	margin-top:5px;
}

.verde{
	
	color:green;
	font-size: large;
	font-weight: bold;
	
}

.rojo{
	
	color:red;
	font-size: large;
	font-weight: bold;
	
}

.fverde{
	background-color:#00FF00;
}

table{
	width: 450px;
	margin-left:100px;
	border: 2px solid red;
}

.fazul{
	background-color:#00008B;
}

.fgris{
	background-color:gray;
	color:yellow;
}

.fblanco{
	background-color:white;
}
